@using HighWall.Core.Model
@model HomeViewModel
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HighWall of Capitalism</h1>
    <p>Slogan : @Model.Slogan</p>
    <p>Capitalist : @Model.Capitalist</p>
</div>
